!!! 5
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/screen.css'}/

    %title Code Happening 2012 :: End of the World Hay Stanzas on Fire
  %body.impress-not-supported
    - unless @tweets.has_next?
      %a#update{href:"/update"} Load some end of the world madness
    - else
      .fallback-message
        %p Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.s
        %p
          For the best experience please use the latest
          %b Chrome ,
          %b Safari
          or
          %b Firefox
          browser.
      #impress
        .step
          %h2 The end of the world is today...
          %p
            ... 3 AM in the morning and I surf the desperation, could I reach it?
            %br/
            One thousand voices raise like a hay prairie in flames.
            %br/
            I don't see fire. I see beauty.
        - @tweets.each do |tweet|
          .step{ 'data-z'=> rand(100), 'data-rotate-y' => rand(-100),  'data-rotate-x' => rand(-90)}
            %h2= tweet['text']
            %p
              - unless tweet['user']['protected']
                %a.who{href:"http://twitter.com/#{tweet['user']['screen_name']}"}= tweet['user']['screen_name']
              .when
                on
                = tweet['created_at']
            - unless tweet['user']['protected']
              %img.pic{ src:"#{tweet['user']['profile_image_url']}", width:"48"}

      .hint
        %p Use a spacebar or arrow keys to navigate
      :javascript
        if ("ontouchstart" in document.documentElement) {
          document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
        }

      %script{src: '/javascripts/impress.js', type: 'text/javascript'}
      :javascript
        impress().init();
